body {

    /* background-color: powderblue; */
    background-image: url('pastel bg.jpg');
}

hr {
    /* height: 2px; */
    /* color: tan; */
    color: grey;
    opacity: 50%;
    width: 7%;
    border-style: dotted none none;
    border-width: 6.5px;
    height: 0px;

}

h1{
    color: brown;
}

h3{
    
    color: azure;
   
}